@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  --background: #f8fafc;
  --background-subtle: #f5f4eee2;
  --foreground: #032d22;
  --primary: #017a54;
  --primary-foreground: #ffffff;
  --accent: #ffbe0b;
  --accent-foreground: #032d22;
}

/* .dark {
  --background: #2d3130;
  --background-subtle: #121414;
  --foreground: #f3f4f6;
  --primary: #017a54;
  --primary-foreground: #ffffff;
  --accent: #fbbf24;
  --accent-foreground: #2d3130;
} */

@theme {
  --breakpoint-xs: 361px;

  --color-background: var(--background);
  --color-subtle: var(--background-subtle);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --font-serif: var(--font-cinzel), serif;
  --font-sans: var(--font-source-serif), serif;
  --font-bangla: var(--font-hind-siliguri), sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

[lang="bn"] body,
.lang-bn {
  font-family: var(--font-bangla);
}

/* Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
} /* Firefox */
* {
  scrollbar-width: none;
} /* IE and Edge */
* {
  -ms-overflow-style: none;
}